:root {
    --main-color: #0096c7;
    --secondary-color: #03045e;
    --main-font-color: #f1faee;
    --main-icon-color: rgba(255, 255, 255, 0.651);
    --main-font: 'Quicksand', sans-serif;
    --accent-font: 'Dosis', sans-serif;
}

html {
    font-size: calc(16px + (24 - 16)*(100vw - 400px)/(800 - 400));
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: var(--accent-font);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 70px;
    margin-bottom: 65px;
    padding-bottom: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#login-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30vh 30vh 0 0;
    justify-content: center;
    align-items: center;
}

#login-header {
    margin-bottom: 70px;
}

#label {
    font-family: var(--main-font);
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: var(--main-color);
    height: 8vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--main-font-color);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5), 0 0 6px .7px rgba(0, 0, 0, 0.5) inset;
}

#logo-div {
    display: flex;
    flex-direction: row;
    /* flex-grow: 4; */
}

#logo {
    width: 50px;
    height: 50px;
}

#logo-font {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 2px;
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 30px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

#main-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin: 0;
    box-shadow: 0px -3px 6px .5px rgba(0, 0, 0, 0.356), 0 -10px 0 -10px rgba(0, 0, 0, 0.5) inset;
}

#footer {
    visibility: hidden;
}

#nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vh;
    background-color: var(--main-color);
    text-decoration: inherit;
    color: var(--main-icon-color);
}

#nav-button-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px;
    height: 7vh;
    border: none;
    background: none;
    text-decoration: none;
}

#nav-button-edit:hover {
    transform: scale(1.1);
}

#nav-button:hover {
    transform: scale(1.1);
}

#nav-button-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50px;
    text-decoration: inherit;
    color: var(--main-icon-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.356);
}

#nav-button-logout:hover {
    transform: scale(1.1);
}

#nav-button-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 7vh;
    border: none;
    background: none;
    text-decoration: none;
}

#nav-button-delete:hover {
    transform: scale(1.1);
}

#nav-img {
    font-size: calc(30px + (24 - 16)*(100vw - 400px)/(800 - 400));
    color: var(--main-icon-color);
}

#content-nav {
    /* font-size: calc(30px + (24 - 16)*(100vw - 400px)/(800 - 400)); */
    color: var(--main-color);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

#financial-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#form-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

#form-label {
    flex-grow: 2;
}

.finanical-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--main-color);
    width: 27vw;
}

#form-button {
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    color: var(--main-font-color);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.356);
    width: max-content;
    margin: 40px;
}

#form-row {
    width: 60vw;
}

.budget-table {
    width: 90vw;
}

.budget-table, th {
    padding: 0px;
}
