<%- include('../partials/header') %> 

<main>
    <h3 class="schema-labels">Account Details</h3>
    <form id="financial-form" action="/accounts" method="POST">
        <label id="form-label">Name:</label>
        <input type="text" name="accountName" class="account-input">
        <label id="form-label">Age:</label>
        <input type="text" name="age" class="account-input">
        <label id="form-label">Employed:</label>
        <input type="checkbox" name="employed" checked class="account-input">
        <input type="submit" value="Add Account">
    </form>
</main>

<%- include('../partials/footer') %> 