<%- include('../partials/header') %> 

<main>
    <div id="form-container">
        <h3>Edit: <%= expense.title %> </h3>
        <form id="financial-form" action="/budgets/expense/<%= expense._id %>?_method=PUT" method="POST">
            <div id="form-row">    
                <label id="form-label">Type:</label>
                <input type="text" name="title" class="finanical-input">
            </div>
            <div id="form-row">
                <label id="form-label">Amount:</label>
                <input type="text" name="amount" class="finanical-input">
            </div>
            <div id="form-row">
                <label id="form-label">Due:</label>
                <input type="date" name="dueDate" class="finanical-input">
            </div>
            <input id="form-button" type="submit" value="Confirm">
        </form>
    </div>
</main>

<%- include('../partials/footer') %> 