<%- include('../partials/header') %> 

<main>
    <div>
        <h3>Edit: <%= expense.title %> </h3>
        <form action="/budgets/expense/<%= expense._id %>?_method=PUT" method="POST">
        <label id="form-label">Type:</label>
        <input type="text" name="title" class="finanical-input">
        <label id="form-label">Amount:</label>
        <input type="text" name="amount" class="finanical-input">
        <label id="form-label">Due:</label>
        <input type="date" name="dueDate" class="finanical-input">
        <input type="submit" value="Confirm">
        </form>
    </div>
</main>

<%- include('../partials/footer') %> 