<%- include('../partials/header') %> 

<main>
    <div id="form-container">
        <form id="financial-form" action="/budgets" method="POST">
            <h3 class="schema-labels">Create a Budget</h3>
            <div id="form-row">
                <label id="form-label">Budget Type:</label>
                <input type="text" name="title" class="finanical-input">
            </div>
            <div id="form-row">
                <label id="form-label">Income:</label>
                <input type="text" name="incomeAmount" class="finanical-input">
            </div>
            <input id="form-button" type="submit" value="Add Budget">
        </form>
    </div>
</main>

<%- include('../partials/footer') %> 