<%- include('../partials/header') %> 

<main>
    <form id="financial-form" action="/budgets" method="POST">
        <h3 class="schema-labels">Income</h3>
        <label id="form-label">Please enter the name of this budget</label>
        <input type="text" name="title" class="finanical-input">
        <input type="submit" value="Add Budget">
    </form>
</main>

<%- include('../partials/footer') %> 